---
title: references
description: my blog snippets
layout: layouts/card.njk 
---

<i>References for programs and software I often use</i><br/>
<div class="references" id="references">
  <h2>Software / programs</h2>
  <section id="section__programs">
    <ul>
  {% for post in collections.references %}
  {% if "programs" in post.data.tags %} 
    {% include "components/list-item.njk" %}
  {% endif %} 
  {% endfor %}
    </ul>
  </section>
  <h2>One off guides</h2>
  <section id="section__oneoffs">
    <ul>
  {% for post in collections.references %}
  {% if "oneoffs" in post.data.tags %} 
    {% include "components/list-item.njk" %}
  {% endif %} 
  {% endfor %}
    </ul>
  </section>
</references>
