---
title: references
description: my blog snippets
layout: layouts/card.njk 
---

<i>References for programs and software I often use</i><br/>

<ul class="flex flex-col gap-sm" id="snippets">
  {% for post in collections.references %}
    {% include "components/list-item.njk" %}
  {% endfor %}
</ul>
