<!DOCTYPE html>
<html lang="en">
  <head>
  <script id="search-data" type="application/json">
  [
    {% for post in collections.all %}
      {% if not post.data.draft %}
      {
        "title": {{ post.data.title | ifOccurs | toJson  | safe }},
        "date": {{ post.date.toLocaleDateString('en-GB') | ifOccurs | toJson  | safe }},
        "timestamp": {{ post.date.getTime() / 1000 | ifOccurs | toJson | round }},
        "urlPath": {{ post.url | ifOccurs | toJson |  safe }},
        "description": {{ post.data.description | ifOccurs | toJson | safe }} ,
        "tags": {{ post.data.tags | ifOccurs | checkEmptyArray | toJson  | safe }}
      }{% if not loop.last %},{% endif %}
      {% endif %}
    {% endfor %}
  ]
  </script>
    <meta charset="utf-8" />
    <meta name="viewport"  content="width=device-width, initial-scale=1" />
    <title>{{ title | makeTitleCase }} {{ seo.separator }} {{ seo.title }}</title>
    <meta name="description" content="{{ seo.description if not description else description }}" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🪢</text></svg>"></link>
    <link rel="stylesheet" href="/static/styles/style.css" />
    <link rel="stylesheet" href="/static/styles/prism.css" />
  </head>
  <body>
    <div class="app">
    {% include "components/header.njk" %}
    <main>
      <div class="container">
        {{ content | safe }}
      </div>
    </main>
    <div class="push"></div>
    </div>
    {% include "components/footer.njk" %}

    {% if page.fileSlug == "search" %}
       <script src="/static/scripts/mintie.js" defer></script>
       <script src="/static/scripts/search.js" defer></script>
     {% else %} 
       <script src="/static/scripts/mintie.js" defer></script>
       <script src="/static/scripts/main.js" defer></script>
     {% endif %}

  </body>
</html>
