---
title: About me
description: About me
layout: base.njk
---

<section>
  <h1>{{ title }}</h1>
  <p>I'm an Aussie living across the pond in the UK.</p> 
  <p>This site is driven by my appetite to learn and document. I will learn a technology, build something with it, and potentially document it here. I also believe that everyone should have their own corner of the internet, document their thoughts and what they learn (even if just for themselves).</p> 
  <p>Currently I work as Senior Solutions Engineer in ol' London town.</p>
  <p>My favourite band is <a href="https://en.wikipedia.org/wiki/Duster_(band)" target="_blank">Duster</a>. You'd know that by my header image!</p>
  <p>You can reach me on <a href="https://github.com/wrrngton">github</a> or via <a href='&#109;ai&#108;to&#58;he%6Clo%4&#48;&#106;ez%6C&#46;xyz'>hello&#64;jezl&#46;x&#121;&#122;</a></p>
</section>
