---
title: About me
description: About me
layout: base.njk
---

<section>

  <h1>{{ title }}</h1>

  <p>I'm an Aussie living across the pond in London, UK.</p> 
  <p>Currently I work at <a href="algolia.com">Algolia</a> as a Senior Solutions Engineer (the best job that no one knows about, seriously you should try and become one).</p>
  <p>You can reach me on <a href="https://github.com/wrrngton">github</a> or via <a href='&#109;ai&#108;to&#58;he%6Clo%4&#48;&#106;ez%6C&#46;xyz'>hello&#64;jezl&#46;x&#121;&#122;</a></p>

</section>
