---
title: homepage
layout: layouts/card.njk
---

<ul class="flex flex-col gap-sm mb-sm">
  {% for post in collections.recentPosts %}
    {% include "components/list-item.njk" %}
  {% endfor %}
</ul>

<a href="/archive">See post archive</a>

