---
title: homepage
layout: layouts/card.njk
---

{% for post in collections.recentPosts %}

  <article class="py-2">
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <time class="mb-sm inline-block">{{ post.date | postDate }}</time>
    {{ post.page.excerpt | md | safe }}
  </article>
{% endfor %}

<a href="/archive" class="btn btn--neutral">See post archive</a>



{{ collections | dump }}

