---
title: Projects
description: Projects i'm working on
layout: layouts/card.njk
---
<ul>
  <li>
    <a href="https://github.com/wrrngton/mintie" class="underline">MinTie - a client side search engine</a>: 
    A client side search engine. Like 
    <a href="https://lunrjs.com/" class="underline">Lunr.js</a> 
    but tiebreaking instead of BM25 <em>(WIP)</em>.
  </li>
</ul>
