@font-face {
  font-family: "Baskervville";
  src: url("/static/fonts/Baskervville-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Baskervville";
  src: url("/static/fonts/Baskervville-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Libertine";
  src: url("/static/fonts/LinLibertine_R.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Libertine";
  src: url("/static/fonts/LinLibertine_RZ.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
}

/* Root styles */
:root {
  --padding-xs: 10px;
  --padding-sm: 20px;
  --padding-md: 30px;
  --color-grey: #dedede;
  --color-light-grey: #f7f7f7;
  --color-blue: #4183c4;
  --color-dark-blue: #1e70bf;
  --color-black: #000000;
  --color-white: #ffffff;
  --footer-height: 80px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* font-size: 62.5%; */
}

body {
  font-family: "Libertine", sans-serif;
  line-height: 1.5;
  background-color: #ececec;
  position: relative;
}

main {
  padding-top: var(--padding-md);
  padding-bottom: var(--padding-md);
}

.app {
  min-height: 100%;
  margin-bottom: calc(var(--footer-height) * -1);
}

/* Utilities */

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.block {
  display: block;
}

.gap-sm {
  gap: 10px;
}

.gap-md {
  gap: 20px;
}

.mb-xs {
  margin-bottom: var(--padding-xs);
}

.mb-sm {
  margin-bottom: var(--padding-sm);
}

.mb-md {
  margin-bottom: var(--padding-md);
}

.p-0 {
  padding: 0px;
}

.py-1 {
  padding-top: var(--padding-xs);
  padding-bottom: var(--padding-xs);
}

.py-2 {
  padding-top: var(--padding-sm);
  padding-bottom: var(--padding-sm);
}

.list-none {
  list-style: none;
}

.capitalize {
  text-transform: capitalize;
}

.decoration-none {
  text-decoration: none;
}

.img {
  max-width: 100%;
  height: auto;
}

/* Typography */

a {
  text-decoration: none;
  color: var(--color-blue);
}

a:hover {
  color: var(--color-dark-blue);
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: var(--padding-xs);
}

hr {
  border-top: 1px solid var(--color-grey);
  height: 1px;
}

/* The rest */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: var(--padding-sm);
  padding-right: var(--padding-sm);
}

header {
  background-color: #fff;
}

nav li:hover {
  background-color: var(--color-light-grey);
}

nav li {
  align-self: stretch;
  display: flex;
  align-items: center;
}

nav a {
  color: initial;
  padding: var(--padding-xs) var(--padding-sm);
}

nav a:hover {
  color: initial;
}

nav > ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 600px) {
  /* nav > ul { */
  /*   display: grid; */
  /*   grid-template-columns: repeat(3, 1fr); */
  /* } */

  nav a {
    padding: var(--padding-xs);
  }
}

.logo {
  max-width: 50px;
  height: auto;
}

.card {
  background-color: white;
  padding: var(--padding-md);
  -webkit-box-shadow: 5px 8px 7px -1px rgba(0, 0, 0, 0.71);
  box-shadow: 5px 8px 7px -1px rgba(0, 0, 0, 0.71);
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--padding-md);
  border-bottom: 1px solid var(--color-grey);
}

.card__body {
  display: flex;
  flex-direction: column;
}

.card__body--post {
  display: grid;
  gap: var(--padding-md);
  grid-template-columns: 75% 25%;
}

.card__aside {
  padding-left: var(--padding-md);
  padding-right: var(--padding-md);
  border-left: 1px solid var(--color-grey);
}

.card__aside > div {
  margin-bottom: var(--padding-md);
}

.card__aside h3 {
  margin-bottom: var(--padding-xs);
}

@media screen and (max-width: 900px) {
  .card__body--post {
    grid-template-columns: 1fr;
  }

  .card__aside {
    border-top: 1px solid var(--color-grey);
    border-left: none;
    padding: var(--padding-md) 0px;
  }
}

ul {
  padding-left: calc(var(--padding-sm) + 3px);
}

ul > li::marker {
  font-size: 13px;
}
/* Articles */

article:not(:last-of-type) {
  border-bottom: 1px solid var(--color-grey);
}

article p,
article ul,
article blockquote {
  font-size: 16px;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.tags a {
  color: initial;
}

.categories a {
  color: initial;
}

blockquote {
  background-color: var(--color-light-grey);
  padding: var(--padding-sm);
  border-left: 3px solid var(--color-blue);
}

blockquote p {
  margin-bottom: 0px;
}

.pagination {
  display: flex;
}

.pagination > a {
  flex-grow: 1;
  border: 1px solid var(--color-grey);
  padding: 7px 25px;
  font-size: 13px;
  color: initial;
  text-align: center;
}

.pagination > a:hover {
  background-color: var(--color-light-grey);
}

.pagination > a:nth-child(2) {
  border-left: none;
}

time {
  color: rgba(0, 0, 0, 0.5);
}

/* Components */

.pill {
  display: inline-block;
  background-color: var(--color-grey);
  padding: 10px;
  margin-bottom: 5px;
  font-size: 14px;
}

.btn {
  border: 1px solid var(--color-grey);
  text-align: center;
  padding: 7px 25px;
}

.btn--neutral {
  color: initial;
}

.btn--neutral:hover {
  color: initial;
}

.btn:hover {
  background-color: var(--color-light-grey);
}

/* Code / prism */

pre {
  white-space: pre-wrap;
}

pre[class*="language-"] > code {
  font-size: 14px;
  background-color: initial;
  padding: initial;
  white-space: pre-wrap;
}

code {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 1px;
  font-size: 14px;
  font-family: monospace;
  border-radius: 3px;
}

/* Used for sticky footer */
footer,
.push {
  height: var(--footer-height);
}

footer {
  display: flex;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  width: 100%;
}
