@font-face {
  font-family: "Baskervville";
  src: url("/static/fonts/Baskervville-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Baskervville";
  src: url("/static/fonts/Baskervville-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Libertine";
  src: url("/static/fonts/LinLibertine_R.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Libertine";
  src: url("/static/fonts/LinLibertine_RZ.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
}

/* Root styles */
:root {
  --color-grey: #dedede;
  --color-light-grey: #f7f7f7;
  --color-highlight: #4b5b4b;
  --color-dark-highlight: #a38a51;
  --color-dark-highlight-opaque: #66a38a51;
  --color-black: #000000;
  --color-white: #ffffff;
  --footer-height: 80px;
  --default-font-size: 16px;
  --nav-height: 35px;
  --padding-xs: 10px;
  --padding-sm: 20px;
  --padding-md: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Libertine", sans-serif;
  line-height: 1.5;
  position: relative;
  background-image: url("/static/images/square.png");
  background-repeat: repeat;
}

main {
  padding-top: var(--padding-md);
  padding-bottom: var(--padding-md);
}

.app {
  min-height: 100%;
  margin-bottom: calc(var(--footer-height) * -1);
}

/* Utilities */

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.gap-sm {
  gap: 10px;
}

.gap-md {
  gap: 20px;
}

.mb-xs {
  margin-bottom: var(--padding-xs);
}

.mb-sm {
  margin-bottom: var(--padding-sm);
}

.mb-md {
  margin-bottom: var(--padding-md);
}

.txt-right {
  text-align: right;
}

.p-0 {
  padding: 0px;
}

.py-1 {
  padding-top: var(--padding-xs);
  padding-bottom: var(--padding-xs);
}

.py-2 {
  padding-top: var(--padding-sm);
  padding-bottom: var(--padding-sm);
}

.txt-center {
  text-align: center;
}

.list-none {
  list-style: none;
}

.capitalize {
  text-transform: capitalize;
}

.decoration-none {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.img {
  max-width: 100%;
  height: auto;
}

/* Typography */

a {
  text-decoration: none;
  color: var(--color-highlight);
}

a:hover {
  color: var(--color-dark-highlight);
}

p {
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: var(--padding-xs);
  line-height: 1.2;
}

hr {
  border-top: 1px solid var(--color-grey);
  height: 1px;
}

blockquote {
  margin-bottom: var(--padding-md);
}

/* The rest */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: var(--padding-sm);
  padding-right: var(--padding-sm);
}

@media screen and (max-width: 900px) {
  .container {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
  }
}

header {
  background: url("/static/images/stratosphere-cover-test.jpg");
  background-size: cover;
  background-position: center center;
  height: 100px;
  position: relative;
}

header>.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

nav {
  background-color: var(--color-white);
  width: auto;
}

/* Search */

/* Search header (on non /search pages) */
.search {
  height: var(--nav-height);
  padding-left: 8px;
  padding-right: 8px;
  font-family: inherit;
  background-color: var(--color-light-grey);
  border: none;
}

.searchDropdown {
  border: 1px solid black;
  position: absolute;
  font-size: 14px;
  right: var(--padding-sm);
  top: 100%;
  background-color: var(--color-light-grey);
  width: 400px;
}

.searchDropdown>ul {
  margin-bottom: 0px;
}

.searchDropdown a {
  text-transform: capitalize;
}

.searchDropdown em {
  background-color: var(--color-dark-highlight-opaque);
  font-style: normal;
}

@media screen and (max-width: 600px) {
  .search {
    display: none;
  }
  .search--searchPage {
    display: block;
  }
}

/* Search hits */

.hits {
  list-style: none;
  padding-left: 0px;
}

.hits__link {
  display: inline-block;
  width: 100%;
  padding: var(--padding-xs);
}

.hits__title {
  margin-bottom: 3px;
  font-size: var(--default-font-size);
  font-weight: normal;
}

.hits__path {
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.4;
}

/* /search page */

/* Search input on search page inherits styles from header search input */

.search--searchPage {
  margin-bottom: var(--padding-md);
}

.searchResults {
  list-style: none;
  padding-left: 0px;
}

.searchPage__link {
  display: inline-block;
  width: 100%;
  padding: var(--padding-xs);
}

.searchPage__title {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: normal;
  text-transform: capitalize;
}

.searchPage__path {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.5;
}

.searchResults em {
  background-color: var(--color-dark-highlight-opaque);
  font-style: normal;
}

nav li:hover {
  background-color: var(--color-light-grey);
}

nav li.active {
  background-color: var(--color-light-grey);
}

nav li {
  align-self: stretch;
  display: flex;
  align-items: center;
  height: var(--nav-height);
}

nav a {
  color: initial;
  padding-left: 8px;
  padding-right: 8px;
}

nav a:hover {
  color: initial;
}

nav>ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
  nav a {
    padding: var(--padding-xs);
  }
}

.logo {
  max-width: 50px;
  height: auto;
}

.card {
  background-color: white;
  padding: var(--padding-md);
  -webkit-box-shadow: 5px 8px 7px -1px rgba(0, 0, 0, 0.71);
  box-shadow: 5px 8px 7px -1px rgba(0, 0, 0, 0.71);
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-grey);
}

.card__body {
  display: flex;
  flex-direction: column;
  padding-top: var(--padding-sm);
  padding-bottom: var(--padding-sm);
}

/* Only on homepage right now */

.card__container {
  display: grid;
  grid-template-columns: 1fr 200px;
}

.card__left {
  padding-right: var(--padding-md);
}

.card__right {
  border-left: 1px solid var(--color-grey);
  width: 200px;
  padding: var(--padding-sm);
}

@media screen and (max-width: 900px) {
  .card__container {
    grid-template-columns: 1fr;
  }

  .card__right {
    padding-left: 0px;
  }

  .card__left {
    margin-bottom: var(--padding-md);
  }

  .card__right {
    border-left: none;
    border-top: 1px solid var(--color-grey);
    width: 100%;
  }
}

.card__body--post {
  display: grid;
  gap: var(--padding-md);
  grid-template-columns: 75% 25%;
}

.card__body--post>article,
.card__body--post>.card__aside {
  min-width: 0;
}

.card__aside {
  padding: var(--padding-md);
  border-left: 1px solid var(--color-grey);
}

.card__aside>div {
  margin-bottom: var(--padding-md);
}

.card__aside h3 {
  margin-bottom: var(--padding-xs);
}

@media screen and (max-width: 900px) {
  .card {
    padding: var(--padding-sm);
  }

  .card__body--post {
    grid-template-columns: 1fr;
  }

  .card__aside {
    border-top: 1px solid var(--color-grey);
    border-left: none;
    padding: var(--padding-md) 0px;
  }
}

ul,
ol {
  padding-left: calc(var(--padding-sm) + 3px);
  margin-bottom: var(--padding-md);
}

ul>li::marker,
ol>li::marker {
  font-size: 13px;
}

/* Articles */

article:not(:last-of-type) {
  border-bottom: 1px solid var(--color-grey);
}

article p,
article ul,
article ol,
article blockquote {
  font-size: 16px;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.87);
}

article a {
  text-decoration: underline;
}

article p code {
  font-size: 13px;
  background-color: #ececec;
  color: black;
  line-height: 1;
  border-radius: .25rem;
}

article img {
  max-width: 100%;
  height: auto;
}

article hr {
  margin-top: var(--padding-xs);
  margin-bottom: var(--padding-xs);
}

table {
  table-layout: fixed;
  margin: 10px auto;
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}

th,
td {
  padding: var(--padding-xs);
}

tr :nth-child(2),
tr :nth-child(3) {
  text-align: right;
  width: 15%;
}

tr :nth-child(1),
tr :nth-child(4) {
  text-align: left;
  width: 35%;
}

tfoot tr :nth-child(1) {
  text-align: right;
}

tfoot tr :nth-child(2) {
  text-align: left;
}

th,
td {
  vertical-align: top;
  padding: 0.3em;
}

tfoot {
  border-top: 1px solid #999999;
}

.tags a {
  color: initial;
}

.categories a {
  color: initial;
}

blockquote {
  background-color: var(--color-light-grey);
  padding: var(--padding-sm);
  border-left: 3px solid var(--color-highlight);
}

blockquote p {
  margin-bottom: 0px;
}

.pagination {
  display: flex;
}

.pagination>a {
  flex-grow: 1;
  border: 1px solid var(--color-grey);
  padding: 7px 25px;
  font-size: 13px;
  color: initial;
  text-align: center;
}

.pagination>a:hover {
  background-color: var(--color-light-grey);
}

.pagination>a:nth-child(2) {
  border-left: none;
}

time {
  color: rgba(0, 0, 0, 0.5);
}

/* References */
.references ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--padding-sm);
}

@media screen and (max-width: 576px) {
  .references ul {
    grid-template-columns: 1fr;
  }
}

.references section {
  margin-bottom: var(--padding-md);
}

/* Components */

.pill {
  display: inline-block;
  background-color: var(--color-grey);
  padding: 10px;
  margin-bottom: 5px;
  font-size: 14px;
}

.btn {
  border: 1px solid var(--color-grey);
  text-align: center;
  padding: 7px 25px;
}

.btn--neutral {
  color: initial;
}

.btn--neutral:hover {
  color: initial;
}

.btn:hover {
  background-color: var(--color-light-grey);
}

/* Code / prism */

pre {
  white-space: pre-wrap !important;
}

pre[class*="language-"]>code {
  font-size: 14px;
  background-color: initial;
  padding: initial;
  white-space: pre-wrap !important;
}

code {
  background-color: var(--color-black);
  white-space: pre-wrap !important;
  color: var(--color-white);
  padding: 1px;
  font-size: 14px;
  font-family: monospace;
  border-radius: 3px;
}

/* Used for sticky footer */
footer,
.push {
  height: var(--footer-height);
}

footer {
  display: flex;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  width: 100%;
}

footer p {
  margin-bottom: 0px;
}

/* About me page */
