---
layout: layouts/card-post.njk
---
{% set contentType = (page.filePathStem | getContentType ) %}
{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}


<article>
  {{ content | safe }}
</article>

<aside class="card__aside">

  <div>

    <h3>Published</h3>
    <p>{{ date | postDate }}</p>

  </div>

  <div>
    <h3>Updated</h3>
    <p>{{ modified | postDate }}</p>
  </div>

  {% if contentType == "posts" %}
  <div>
    <h3>Category</h3>
    <div class="pill capitalize">

      {{ category }}

    </div>
  </div>

  {% endif %}

  <div class="tags">
    <h3>Tags</h3>

    {% for tag in tags %}
    <div class="pill capitalize">
      <a href="/tags/{{ tag }}">
      {{ tag }}
      </a>
    </div>
    {% endfor %}
  </div>

  <div>
    <h3>Links</h3>
    <div class="pagination">
    {% if previousPost %}
        
      <a href="{{ previousPost.url }}">Prev</a>
        
    {% endif %}
    {% if nextPost %}
        
      <a href="{{ nextPost.url }}">Next</a>
        
    {% endif %}
    </div>
  </div>

</aside>
