---
layout: layouts/card.njk
---

{{ page | dump }}

<article>
  {{ content | safe }}
</article>

<aside class="card__aside">

  <div>

    <h3>Published</h3>
    <p>{{ date | postDate }}</p>

  </div>

  <div>
    <h3>Updated</h3>
    <p>{{ modified | postDate }}</p>
  </div>

  <div>
    <h3>Category</h3>
    <div class="pill capitalize">

      {{ category }}

    </div>
  </div>

  <div>
    <h3>Category</h3>

    {% for tag in tags %}
    <div class="pill capitalize">
      {{ tag }}
    </div>
    {% endfor %}
  </div>

</aside>
