---
layout: layouts/card.njk
---

<article>
  {{ content | safe }}
</article>

<aside class="card__aside">

  <div>

    <h3>Published</h3>
    <p>2010-06-06</p>

  </div>

  <div>
    <h3>Updated</h3>
    <p>2010-06-06</p>
  </div>

  <div>
    <h3>Category</h3>
    <p class="capitalize">{{ category }}</p>
  </div>

</aside>
