---
title: post tags
description: post tags
layout: base.njk
---

{% set tagsArr = [] %}

{% for post in collections.posts %}

  {% for item in post.data.tags %}

    {% if item not in tagsArr %}

      {% set tagsArr = (tagsArr.push(item), tagsArr) %}

    {% endif %}

  {% endfor %}

{% endfor %}

{% for tag in tagsArr %}

  <h2>{{ tag }}</h2>

  <ul class="flex">

  {% for post in collections[tag] %}

    {% include "components/list-item.njk" %}

  {% endfor %}

  </ul>

{% endfor %}
