<header>
<div class="container">
  <ul class="flex list-none capitalize p-0">
    <li><a href="/">home</a></li>
    <li><a href="/archive">archive</a></li>
    <li><a href="/snippets">snippets</a></li>
    <li><a href="/categories">categories</a></li>
    <li><a href="/about">about</a></li>
  </ul>
  </div>
</header>
