<header>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/posts">archive</a></li>
    <li><a href="/snippets">snippets</a></li>
    <li><a href="/tags">tags</a></li>
    <li><a href="/about">about</a></li>
  </ul>
</header>
