{% set navData = [{url: "/", title: "home"}, {url: "/archive/", title: "archive"}, {url: "/projects/", title: "projects"}, {url: "/about/", title: "about"}]%}
<header>
<div class="container">
<nav>
    <ul class="capitalize p-0">
      {% for el in navData %}
        <li {% if page.url == el.url %} class="active" {% endif %}><a href="{{ el.url }}">{{ el.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% if page.fileSlug !== "search" %}
  <input type="text" name="query" placeholder="Search" class="search" autocomplete="off"></input>
  <div class="hidden searchDropdown">
  </div>
  {% endif %}
</div>
</header>
