---
title: snippets
description: my blog snippets
layout: layouts/card.njk 
---

<ul class="flex flex-col gap-sm">
  {% for post in collections.snippets %}
    {% include "components/list-item.njk" %}
  {% endfor %}
</ul>
