---
title: Categories
description: post tags
layout: layouts/card.njk 
---

{% set catArr = [] %}

{% for post in collections.posts %}

    {% if post.data.category not in catArr %}

      {% set catArr = (catArr.push(post.data.category), catArr) %}

    {% endif %}

{% endfor %}

{% set catArr = catArr | alphSort %}

{% for cat in catArr %}

<div class="mb-md">

  <h3 class="capitalize">{{ cat }}</h3>

  <ul class="flex">

  {% for post in collections.posts %}

  {% if post.data.category == cat %}

    {% include "components/list-item.njk" %}

  {% endif %}

  {% endfor %}

  </ul>

</div>

{% endfor %}
