---
layout: base.njk
---

<div class="card">

  <div class="card__header">

    <h1>{{ title }}</h1>
    <hr/>

  </div>

  <div class="card__body card__body--post">
    {{ content | safe }}
  </div>

</div>

