---
layout: base.njk
---
<div class="card">
  <div class="card__header">
    <h1 class="capitalize">{{ title }}</h1>
    {% if page.fileSlug == "references" %}
      <input type="text" placeholder="search..." id="search"/>
    {% endif %}
  </div>

  <div class="card__container">
    <div class="card__left">

      <div class="card__body">
        {{ content | safe }}
      </div>

    </div>
    <div class="card__right">
      <h3>Living documents</h3>
      <ul class="list-none p-0">
        <li><a href="/references">References</a></li>
        <li><a href="/links">Sites I like</a></li>
        <li><a href="/quotes">Quotes</a></li>
        <li><a href="/courses">Courses and certs</a></li>
      </ul>
    </div>

</div>
